<h2>Formular adaugare subiect</h2>
<form method="post" action="/Category/New">
 <label>Nume</label>
 <br />
 <input type="text" name="Title" />
 <br /><br />
 <label>Continut</label>
 <br />
 <textarea name="Content"></textarea>
 <button type="submit">Adauga subiect</button>
</form>